{% extends "base.html" %}
{% load static%}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}
    

{% block title %}
About Page View 
{% endblock %}

{% block content%}
<h1> This is the About Page using Jinja and static files! </h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit omnis, voluptas corporis ullam nostrum sit deserunt perferendis totam aperiam temporibus, ipsam asperiores eaque minima atque culpa incidunt, illo pariatur repudiandae.</p>
<img width="500" src="{% static 'img/example1.jpg' %}" alt="About Page">
{% endblock%}

{% block js %}
<script src="{% static 'js/about.js' %}"></script>
{% endblock %}