{% extends "base.html" %}
{% load static%}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
    

{% block title %}
Home Page View 
{% endblock %}

{% block content%}
<h1> Home Page using DTL! </h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit omnis, voluptas corporis ullam nostrum sit deserunt perferendis totam aperiam temporibus, ipsam asperiores eaque minima atque culpa incidunt, illo pariatur repudiandae.</p>
<img width="500" src="{% static 'img/example.jpg' %}" alt="Blog Game">
<strong><p>{{ name }}</p></strong>
{% endblock%}

{% block js %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}